@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;
  --font-mono: "Space Grotesk", ui-monospace, SFMono-Regular, monospace;
  
  --color-fc-purple-dark: #1F0042;
  --color-fc-purple-base: #380075;
  --color-fc-purple-light: #5A00BA;
  --color-fc-neon-green: #00FF55;
  --color-fc-neon-green-dark: #00CC44;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
