@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;
  --font-mono: "Space Grotesk", ui-monospace, SFMono-Regular, monospace;
  
  --color-fc-purple-dark: #1F0042;
  --color-fc-purple-base: #380075;
  --color-fc-purple-light: #5A00BA;
  --color-fc-neon-green: #00FF55;
  --color-fc-neon-green-dark: #00CC44;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
